In [2]:
import pandas as pd

In [3]:
data_file = '/home/dipp/Github/Master-Thesis-dipp/GEO_MAP/sorted_country_code_with_count.txt'

In [12]:
df = pd.read_csv(data_file, sep=",")

In [4]:
df = pd.read_table(data_file, delimiter=",")

In [5]:
df

         i     j    count
0     'US'  'US'  6592788
1     'IN'  'IN'  1375358
2     'GB'  'GB'  1014896
3     'CO'  'CO'   687697
4     'ZA'  'ZA'   269271
...    ...   ...      ...
6527  'JP'  'PK'        1
6528  'MM'  'ID'        1
6529  'NO'  'AR'        1
6530  'HR'  'IE'        1
6531  'VI'  'IT'        1

[6532 rows x 3 columns]

In [7]:
with open(data_file,encoding='utf8', newline='/n') as f:
    text_data = f.read()
    for line in text_data:
        print(line)

ValueError: illegal newline value: /n