In [1]:
import csv
import pandas as pd
import pycountry_convert as pc

In [2]:
country_data = '/home/dipp/Github/Master-Thesis-dipp/Country Data Extraction/Version 2/Location_with_only_country_code_V2_Latest.csv'
result = '/home/dipp/Github/Master-Thesis-dipp/Country Data Extraction/Version 2/Continent.csv'

In [21]:
def get_continent(country_code):
    try:
        continent_name = pc.country_alpha2_to_continent_code(country_code)

        return continent_name
    except:
        return None

In [22]:
continent_dict = {}
source_tweet = 0
destination_tweet = 0

In [23]:
with open(country_data, 'r') as cd:
    raw_data = csv.DictReader(cd)

    for line in raw_data:
        if(line['i'] != 'None' and line['j']!= 'None'):
            source = line['i'].replace("'",'')
            destination = line['j'].replace("'",'')
            tweets = int(float(line['count']))

            source_con = get_continent(source)
            destination_con = get_continent(destination)

            if(source_con != None and destination_con!= None):

                source_tweet = continent_dict.get((source_con + '_source'))
                destination_tweet = continent_dict.get((destination_con + '_destination'))

                if(source_tweet != None):
                    continent_dict[(source_con + '_source')] = source_tweet + tweets
                if(source_tweet == None):
                    continent_dict[(source_con + '_source')] = tweets
                if(destination_tweet != None):
                    continent_dict[(destination_con + '_destination')] = destination_tweet + tweets
                if(destination_tweet == None):
                    continent_dict[(destination_con + '_destination')] = tweets



            source_tweet = 0
            destination_tweet = 0

In [24]:
continent_dict

{'NA_source': 44432603,
 'NA_destination': 43283435,
 'EU_destination': 9369661,
 'EU_source': 8984263,
 'AS_destination': 9480874,
 'AS_source': 9269827,
 'OC_source': 1224160,
 'OC_destination': 1346328,
 'SA_source': 2018971,
 'SA_destination': 2193198,
 'AF_source': 2141494,
 'AF_destination': 2397822}

In [25]:
df = pd.DataFrame(list(continent_dict.items()), columns=['Continent', 'number of tweets'])
df

         Continent  number of tweets
0        NA_source          44432603
1   NA_destination          43283435
2   EU_destination           9369661
3        EU_source           8984263
4   AS_destination           9480874
5        AS_source           9269827
6        OC_source           1224160
7   OC_destination           1346328
8        SA_source           2018971
9   SA_destination           2193198
10       AF_source           2141494
11  AF_destination           2397822

In [26]:
df.to_csv(result, index=False)

In [52]:
total = 0
count = 0
internal_count = 0
cross_border_count = 0
unique = 0
with open(country_data, 'r') as cd:
    raw_data = csv.DictReader(cd)

    for line in raw_data:
        total = total + int(float(line['count']))
        if(line['i'] != 'None' and line['j']!= 'None'):
            source = line['i'].replace("'",'')
            destination = line['j'].replace("'",'')
            tweets = int(float(line['count']))
            
            if(source == 'IN' or destination == 'IN'):
                count = count + tweets
            if(source == 'IN' and destination == 'IN'):
                internal_count = internal_count + tweets
            #if(source == 'US' and destination != 'US'):
            #    cross_border_count = cross_border_count + tweets
            if(source != destination):
                unique = unique + tweets
            if(source != 'IN' and destination == 'IN'):
                cross_border_count = cross_border_count + tweets

In [53]:
unique

12350834

In [32]:
total

68123351

In [33]:
count

6547775

In [34]:
internal_count

5133941

In [54]:
cross_border_count

667105