In [35]:
import csv
import pandas as pd
import igraph as ig
import networkx as nx

In [36]:
data_file = '/home/dipp/Github/Master-Thesis-dipp/Network_On_Global_Scale/Data/sorted_country_code_with_count_new.csv'

In [37]:
G = nx.Graph()

In [40]:
with open(data_file, newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    
    for row in reader:
        if(row['i'] != 'None' and row['j'] != 'None'):
            if(row['i']!=row['j']):
                G.add_edge(row['i'], row['j'], weight=int(row['count']))

In [41]:
G.degree(weight='count')

DegreeView({"'GB'": 185, "'US'": 215, "'CA'": 167, "'IN'": 140, "'ZA'": 120, "'AU'": 148, "'DE'": 145, "'JP'": 117, "'NG'": 112, "'CO'": 99, "'HK'": 105, "'IT'": 128, "'NL'": 114, "'MY'": 91, "'MX'": 118, "'KE'": 102, "'KR'": 86, "'PR'": 71, "'FR'": 125, "'ID'": 109, "'ES'": 107, "'TR'": 96, "'BR'": 87, "'PH'": 86, "'TH'": 79, "'SE'": 102, "'CH'": 127, "'NO'": 82, "'IE'": 84, "'CN'": 123, "'PK'": 89, "'PL'": 88, "'PT'": 83, "'NZ'": 87, "'AT'": 70, "'BE'": 111, "'GR'": 85, "'CL'": 69, "'VE'": 79, "'IL'": 94, "'SA'": 73, "'SG'": 58, "'PA'": 61, "'ZW'": 73, "'TW'": 64, "'PS'": 53, "'EG'": 79, "'AE'": 70, "'AR'": 72, "'GH'": 59, "'FJ'": 39, "'DK'": 88, "'CU'": 75, "'KW'": 55, "'IQ'": 60, "'RU'": 88, "'LB'": 74, "'NP'": 54, "'SI'": 43, "'DO'": 34, "'RS'": 55, "'BM'": 31, "'EC'": 42, "'UM'": 25, "'VN'": 63, "'VI'": 28, "'BD'": 60, "'FI'": 58, "'CZ'": 47, "'CG'": 66, "'UG'": 54, "'PE'": 45, "'BS'": 37, "'BN'": 27, "'AG'": 32, "'RO'": 54, "'MA'": 56, "'SD'": 27, "'SK'": 39, "'PY'": 40, "'HR'": 46, "'HU'": 46, "'SV'": 25, "'JM'": 24, "'VG'": 22, "'CM'": 38, "'JE'": 12, "'CR'": 29, "'UY'": 38, "'IR'": 39, "'TZ'": 45, "'BW'": 12, "'MV'": 27, "'CW'": 22, "'NA'": 27, "'LT'": 20, "'MC'": 45, "'QA'": 45, "'TN'": 41, "'GU'": 14, "'JO'": 39, "'MU'": 33, "'PG'": 40, "'KP'": 29, "'KH'": 28, "'CD'": 16, "'TT'": 28, "'TC'": 12, "'MZ'": 38, "'BH'": 19, "'HT'": 16, "'LA'": 14, "'EE'": 17, "'CY'": 22, "'GS'": 4, "'LI'": 24, "'IS'": 18, "'DJ'": 27, "'RW'": 37, "'GD'": 4, "'HN'": 15, "'VC'": 10, "'DM'": 9, "'PF'": 18, "'MP'": 18, "'AZ'": 20, "'LS'": 12, "'VU'": 12, "'BJ'": 26, "'KY'": 10, "'OM'": 32, "'SL'": 11, "'MR'": 27, "'AI'": 15, "'BF'": 10, "'SY'": 20, "'AS'": 12, "'AF'": 11, "'LY'": 11, "'AM'": 14, "'AX'": 5, "'SR'": 11, "'LV'": 12, "'BB'": 15, "'GL'": 4, "'LR'": 12, "'UA'": 17, "'ZM'": 18, "'ML'": 10, "'YT'": 12, "'TJ'": 14, "'MM'": 26, "'GG'": 11, "'DZ'": 16, "'SO'": 14, "'SN'": 18, "'TL'": 10, "'MK'": 17, "'BZ'": 3, "'BG'": 10, "'NI'": 3, "'AQ'": 17, "'IO'": 5, "'TV'": 14, "'CF'": 20, "'LC'": 4, "'SS'": 7, "'LU'": 16, "'AL'": 14, "'GF'": 10, "'NC'": 4, "'LK'": 11, "'KI'": 5, "'RE'": 12, "'ME'": 4, "'MG'": 19, "'BO'": 5, "'GQ'": 14, "'WS'": 9, "'TF'": 4, "'KM'": 10, "'GM'": 7, "'IM'": 4, "'KG'": 9, "'SZ'": 4, "'SH'": 2, "'MD'": 5, "'BT'": 6, "'MT'": 6, "'KN'": 5, "'GT'": 6, "'PN'": 8, "'GE'": 7, "'YE'": 5, "'VA'": 6, "'MN'": 7, "'TM'": 2, "'BQ'": 6, "'BY'": 5, "'GI'": 8, "'BI'": 2, "'TG'": 2, "'GY'": 2, "'ER'": 4, "'KZ'": 9, "'BA'": 6, "'ET'": 1, "'UZ'": 4, "'EH'": 2, "'AO'": 5, "'FM'": 1, "'NE'": 4, "'MW'": 7, "'SC'": 1, "'XK'": 1, "'MH'": 1, "'CV'": 1, "'FK'": 1})

KeyError: 'US'

In [28]:
country_data = {}
with open(data_file, newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    count = 0
    for row in reader:
        if(row['i'] != 'None' and row['j'] != 'None'):
            if(row['i']!=row['j']):
                country_data[count] = [row['i'], row['j'], row['count']]
                count+=1

In [29]:
df = pd.DataFrame.from_dict(country_data, orient='index', columns=['i','j','count'])

In [30]:
df

         i     j   count
0     'GB'  'US'  261883
1     'US'  'GB'  228077
2     'US'  'CA'  136135
3     'IN'  'US'   99852
4     'US'  'IN'   88797
...    ...   ...     ...
6303  'SN'  'AU'       1
6304  'TT'  'NP'       1
6305  'LC'  'US'       1
6306  'IQ'  'JO'       1
6307  'PL'  'VN'       1

[6308 rows x 3 columns]

In [31]:
Graph = nx.from_pandas_edgelist(df=df, source='i', target='j', edge_attr='count', create_using=nx.MultiGraph)

In [32]:
degree_list_all = Graph.degree()

In [33]:
con_degree_list_all = [k for k in degree_list_all]

In [34]:
print(con_degree_list_all)

[("'GB'", 328), ("'US'", 410), ("'CA'", 289), ("'IN'", 233), ("'ZA'", 194), ("'AU'", 248), ("'DE'", 237), ("'JP'", 184), ("'NG'", 175), ("'CO'", 157), ("'HK'", 158), ("'IT'", 219), ("'NL'", 184), ("'MY'", 152), ("'MX'", 189), ("'KE'", 157), ("'KR'", 131), ("'PR'", 105), ("'FR'", 206), ("'ID'", 178), ("'ES'", 183), ("'TR'", 149), ("'BR'", 142), ("'PH'", 131), ("'TH'", 124), ("'SE'", 159), ("'CH'", 207), ("'NO'", 125), ("'IE'", 132), ("'CN'", 183), ("'PK'", 141), ("'PL'", 143), ("'PT'", 121), ("'NZ'", 132), ("'AT'", 110), ("'BE'", 172), ("'GR'", 130), ("'CL'", 101), ("'VE'", 121), ("'IL'", 144), ("'SA'", 118), ("'SG'", 88), ("'PA'", 86), ("'ZW'", 107), ("'TW'", 96), ("'PS'", 61), ("'EG'", 120), ("'AE'", 105), ("'AR'", 114), ("'GH'", 86), ("'FJ'", 50), ("'DK'", 133), ("'CU'", 108), ("'KW'", 81), ("'IQ'", 82), ("'RU'", 131), ("'LB'", 107), ("'NP'", 72), ("'SI'", 64), ("'DO'", 52), ("'RS'", 82), ("'BM'", 41), ("'EC'", 59), ("'UM'", 29), ("'VN'", 93), ("'VI'", 35), ("'BD'", 80), ("'FI'", 82), ("'CZ'", 69), ("'CG'", 77), ("'UG'", 77), ("'PE'", 66), ("'BS'", 46), ("'BN'", 38), ("'AG'", 40), ("'RO'", 79), ("'MA'", 82), ("'SD'", 34), ("'SK'", 53), ("'PY'", 52), ("'HR'", 66), ("'HU'", 66), ("'SV'", 32), ("'JM'", 27), ("'VG'", 27), ("'CM'", 50), ("'JE'", 15), ("'CR'", 37), ("'UY'", 49), ("'IR'", 54), ("'TZ'", 62), ("'BW'", 15), ("'MV'", 35), ("'CW'", 26), ("'NA'", 35), ("'LT'", 23), ("'MC'", 65), ("'QA'", 60), ("'TN'", 52), ("'GU'", 17), ("'JO'", 55), ("'MU'", 41), ("'PG'", 55), ("'KP'", 34), ("'KH'", 37), ("'CD'", 21), ("'TT'", 35), ("'TC'", 15), ("'MZ'", 47), ("'BH'", 24), ("'HT'", 20), ("'LA'", 20), ("'EE'", 23), ("'CY'", 27), ("'GS'", 6), ("'LI'", 28), ("'IS'", 20), ("'DJ'", 34), ("'RW'", 43), ("'GD'", 4), ("'HN'", 19), ("'VC'", 13), ("'DM'", 12), ("'PF'", 21), ("'MP'", 23), ("'AZ'", 25), ("'LS'", 14), ("'VU'", 12), ("'BJ'", 34), ("'KY'", 12), ("'OM'", 44), ("'SL'", 14), ("'MR'", 33), ("'AI'", 18), ("'BF'", 13), ("'SY'", 23), ("'AS'", 15), ("'AF'", 13), ("'LY'", 12), ("'AM'", 16), ("'AX'", 5), ("'SR'", 13), ("'LV'", 14), ("'BB'", 18), ("'GL'", 5), ("'LR'", 13), ("'UA'", 22), ("'ZM'", 23), ("'ML'", 14), ("'YT'", 15), ("'TJ'", 18), ("'MM'", 32), ("'GG'", 13), ("'DZ'", 20), ("'SO'", 19), ("'SN'", 23), ("'TL'", 12), ("'MK'", 19), ("'BZ'", 3), ("'BG'", 14), ("'NI'", 4), ("'AQ'", 19), ("'IO'", 6), ("'TV'", 18), ("'CF'", 25), ("'LC'", 7), ("'SS'", 7), ("'LU'", 21), ("'AL'", 15), ("'GF'", 13), ("'NC'", 4), ("'LK'", 13), ("'KI'", 6), ("'RE'", 13), ("'ME'", 5), ("'MG'", 23), ("'BO'", 5), ("'GQ'", 17), ("'WS'", 11), ("'TF'", 7), ("'KM'", 11), ("'GM'", 9), ("'IM'", 6), ("'KG'", 12), ("'SZ'", 5), ("'SH'", 4), ("'MD'", 6), ("'BT'", 6), ("'MT'", 7), ("'KN'", 6), ("'GT'", 7), ("'PN'", 9), ("'GE'", 7), ("'YE'", 5), ("'VA'", 8), ("'MN'", 9), ("'TM'", 3), ("'BQ'", 9), ("'BY'", 6), ("'GI'", 11), ("'BI'", 3), ("'TG'", 3), ("'GY'", 3), ("'ER'", 5), ("'KZ'", 13), ("'BA'", 7), ("'ET'", 2), ("'UZ'", 5), ("'EH'", 2), ("'AO'", 7), ("'FM'", 1), ("'NE'", 4), ("'MW'", 7), ("'SC'", 2), ("'XK'", 1), ("'MH'", 1), ("'CV'", 1), ("'FK'", 2)]

In [6]:
G = nx.Graph()  # or DiGraph, MultiGraph, MultiDiGraph, etc
#G = nx.from_pandas_edgelist(df,source='i', target='j', edge_attr='count')
G = nx.from_pandas_edgelist(df,source='i', target='j', edge_attr=True)

In [9]:
deg = G.degree(weight = 'count')

In [11]:
print(deg)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
test_df = nx.to_pandas_edgelist(G)

In [8]:
test_df

     source target   count
0      'GB'   'US'  228077
1      'GB'   'NG'    1681
2      'GB'   'IN'    3416
3      'GB'   'AU'    9187
4      'GB'   'HK'    8467
...     ...    ...     ...
4246   'YT'   'MG'       1
4247   'SN'   'KM'       1
4248   'SN'   'MG'       1
4249   'SN'   'CF'       1
4250   'CF'   'MW'       1

[4251 rows x 3 columns]