In [357]:
import pandas as pd
import csv
import codecs
import io

In [358]:
user_file = '/home/dipp/Github/Master-Thesis-dipp/USER_LOCATION_REPLACEMENT/userAll_sample_500 copy.csv'
location_file = '/home/dipp/Github/Master-Thesis-dipp/USER_LOCATION_REPLACEMENT/frequentplaces120000 copy.txt'
location_resolved_file = '/home/dipp/Github/Master-Thesis-dipp/USER_LOCATION_REPLACEMENT/frequentplaces120000.txt copy.resolved'
result_file = '/home/dipp/Github/Master-Thesis-dipp/USER_LOCATION_REPLACEMENT/res_sample.csv'

In [359]:
## Reading the Location File
with open(location_file) as lf:
    loc_data = lf.read()
    loc_data_list = loc_data.split("\n")

with open(location_resolved_file) as lrf:
    loc_data_res = lrf.read()
    loc_data_list_res = loc_data_res.split("\n")

In [360]:
cols = ['createdAt', 'followers', 'favourites', 'location', 'userId']
user_data_dic = dict.fromkeys(cols)
no_match = "['none', 'none', 'none', 'none', 'none']"

In [356]:
with open(user_file,'rU') as uf:
    content = uf.read()
    csv_stream = io.BytesIO(content)
    fixed_lines = (line.replace(b'\x00', b'') for line in csv_stream)
    stream = codecs.iterdecode(fixed_lines, 'utf-8-sig', errors='strict')
    user_data = csv.DictReader(stream, skipinitialspace=True, restkey="INVALID", fieldnames=cols)

    #user_data = csv.DictReader(uf, fieldnames=cols)
    user_data_dict_list = []
    for line in user_data:
        user_data_dict_list.append(line)

/home/dipp/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: 'U' mode is deprecated
  """Entry point for launching an IPython kernel.

TypeError: a bytes-like object is required, not 'str'

In [361]:
with open(user_file, 'rU' , newline='', encoding='utf-8') as uf:
    user_data = csv.DictReader(uf, fieldnames=cols)
    user_data_dict_list = []
    for line in user_data:
        user_data_dict_list.append(line)

/home/dipp/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: 'U' mode is deprecated
  """Entry point for launching an IPython kernel.

In [324]:
with open(user_file, newline='', encoding='utf-8') as uf:
    user_data = csv.DictReader(uf, fieldnames=cols)
    user_data_dict_list = []
    for line in user_data:
        user_data_dict_list.append(line)

In [362]:
for i in range(len(user_data_dict_list)):
    try:
        user_data_dict_list[i]['location'] = user_data_dict_list[i]['location'].lower()
    except AttributeError:
        continue

In [363]:
for i in range(len(loc_data_list)):
    try:
        loc_data_list[i] = loc_data_list[i].lower()
    except AttributeError:
        continue

In [364]:
for i, data in enumerate(user_data_dict_list):
    counter = 0
    for j, loc_d in enumerate(loc_data_list):
        if(user_data_dict_list[i]['location'] == loc_data_list[j].rstrip()):
            counter = 1
            user_data_dict_list[i]['location'] = loc_data_list_res[j]
    
    if counter == 0:
        user_data_dict_list[i]['location'] = no_match
    counter = 1

In [365]:
type(user_data_dict_list)

list

In [366]:
import pandas as pd
df = pd.DataFrame(user_data_dict_list)

In [367]:
df

,createdAt,followers,favourites,location,userId,NaN
0,2015-07-02T18:09:04,162,7561,"['none', 'none', 'none', 'none', 'none']",3355494989,NaN
1,2019-05-01T09:00:18,5,540,"['none', 'none', 'none', 'none', 'none']",1123512455848767489,NaN
2,2013-09-18T11:23:17,28,53,"['none', 'none', 'none', 'none', 'none']",1879078620,NaN
3,2015-05-20T09:29:34,5,20,"['none', 'none', 'none', 'none', 'none']",3221276989,NaN
4,2017-12-19T14:08:29,45,1651,"['none', 'none', 'none', 'none', 'none']",943120858196922368,NaN
...,...,...,...,...,...,...
498,2018-11-29T08:21:35,64,1433,"[None, None, None, None, None]",1068057369131851776,NaN
499,2020-04-09T15:41:57,11,1,"['none', 'none', 'none', 'none', 'none']",1248274935916756999,NaN
500,2016-09-24T03:39:34,39,20175,"['none', 'none', 'none', 'none', 'none']",779525656799383552,NaN
501,2015-11-20T00:40:58,88,955,"['none', 'none', 'none', 'none', 'none']",4295336292,NaN
502,2010-04-18T21:56:01,65,2,"['none', 'none', 'none', 'none', 'none']",134589540,NaN

In [368]:
df=df[df.columns.dropna()]

In [369]:
df.drop('INVALID', axis=1, inplace=True)

KeyError: "['INVALID'] not found in axis"

In [370]:
df

,createdAt,followers,favourites,location,userId
0,2015-07-02T18:09:04,162,7561,"['none', 'none', 'none', 'none', 'none']",3355494989
1,2019-05-01T09:00:18,5,540,"['none', 'none', 'none', 'none', 'none']",1123512455848767489
2,2013-09-18T11:23:17,28,53,"['none', 'none', 'none', 'none', 'none']",1879078620
3,2015-05-20T09:29:34,5,20,"['none', 'none', 'none', 'none', 'none']",3221276989
4,2017-12-19T14:08:29,45,1651,"['none', 'none', 'none', 'none', 'none']",943120858196922368
...,...,...,...,...,...
498,2018-11-29T08:21:35,64,1433,"[None, None, None, None, None]",1068057369131851776
499,2020-04-09T15:41:57,11,1,"['none', 'none', 'none', 'none', 'none']",1248274935916756999
500,2016-09-24T03:39:34,39,20175,"['none', 'none', 'none', 'none', 'none']",779525656799383552
501,2015-11-20T00:40:58,88,955,"['none', 'none', 'none', 'none', 'none']",4295336292
502,2010-04-18T21:56:01,65,2,"['none', 'none', 'none', 'none', 'none']",134589540

In [312]:
df.to_csv(result_file, index=False)