In [4]:
import pandas as pd
import geopandas
from shapely.geometry import Point

In [5]:
data_file = '/home/dipp/Github/Master-Thesis-dipp/GeoGraphic HeatMap/Data/Country_Data_V2_Latest.csv'
result_shapefile = '/home/dipp/Github/Master-Thesis-dipp/GeoGraphic HeatMap/Result/geo-shape.shp'

In [6]:
df = pd.read_csv(data_file)
df

,Country Code,Country Name,Connections,Latitude,Longitude,Population
0,CA,Canada,1541103.0,61.066692,-107.991707,37589262
1,US,United States,35310671.0,39.783730,-100.445882,328239523
2,IN,India,5133941.0,22.351115,78.667743,1366417754
3,ES,Spain,203364.0,39.326068,-4.837979,47076781
4,AU,Australia,830736.0,-24.776109,134.755000,25364307
...,...,...,...,...,...,...
193,UZ,Uzbekistan,3.0,41.323730,63.952810,33580650
194,KI,Kiribati,1.0,0.344861,173.664177,117606
195,NE,Niger,1.0,35.000074,104.999927,23310715
196,GA,Gabon,1.0,-0.899969,11.689970,2172579
197,ME,Montenegro,1.0,23.658512,-102.007710,622137

## Converting this Dataframe to a Shapefile to use in GeoPandas 
https://gis.stackexchange.com/questions/147156/making-shapefile-from-pandas-dataframe

In [7]:
df['geometry'] = df.apply(lambda x: Point((float(x.Longitude), float(x.Latitude))), axis=1)
df

,Country Code,Country Name,Connections,Latitude,Longitude,Population,geometry
0,CA,Canada,1541103.0,61.066692,-107.991707,37589262,POINT (-107.991707 61.0666922)
1,US,United States,35310671.0,39.783730,-100.445882,328239523,POINT (-100.445882 39.7837304)
2,IN,India,5133941.0,22.351115,78.667743,1366417754,POINT (78.6677428 22.3511148)
3,ES,Spain,203364.0,39.326068,-4.837979,47076781,POINT (-4.8379791 39.3260685)
4,AU,Australia,830736.0,-24.776109,134.755000,25364307,POINT (134.755 -24.7761086)
...,...,...,...,...,...,...,...
193,UZ,Uzbekistan,3.0,41.323730,63.952810,33580650,POINT (63.9528098 41.32373)
194,KI,Kiribati,1.0,0.344861,173.664177,117606,POINT (173.6641773 0.3448612)
195,NE,Niger,1.0,35.000074,104.999927,23310715,POINT (104.999927 35.000074)
196,GA,Gabon,1.0,-0.899969,11.689970,2172579,POINT (11.6899699 -0.8999695)
197,ME,Montenegro,1.0,23.658512,-102.007710,622137,POINT (-102.0077097 23.6585116)

In [8]:
df_01 = geopandas.GeoDataFrame(df, geometry='geometry')

In [9]:
df_01

,Country Code,Country Name,Connections,Latitude,Longitude,Population,geometry
0,CA,Canada,1541103.0,61.066692,-107.991707,37589262,POINT (-107.99171 61.06669)
1,US,United States,35310671.0,39.783730,-100.445882,328239523,POINT (-100.44588 39.78373)
2,IN,India,5133941.0,22.351115,78.667743,1366417754,POINT (78.66774 22.35111)
3,ES,Spain,203364.0,39.326068,-4.837979,47076781,POINT (-4.83798 39.32607)
4,AU,Australia,830736.0,-24.776109,134.755000,25364307,POINT (134.75500 -24.77611)
...,...,...,...,...,...,...,...
193,UZ,Uzbekistan,3.0,41.323730,63.952810,33580650,POINT (63.95281 41.32373)
194,KI,Kiribati,1.0,0.344861,173.664177,117606,POINT (173.66418 0.34486)
195,NE,Niger,1.0,35.000074,104.999927,23310715,POINT (104.99993 35.00007)
196,GA,Gabon,1.0,-0.899969,11.689970,2172579,POINT (11.68997 -0.89997)
197,ME,Montenegro,1.0,23.658512,-102.007710,622137,POINT (-102.00771 23.65851)

In [10]:
df_01.to_file(result_shapefile, driver='ESRI Shapefile')

/tmp/ipykernel_47058/1989097622.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  df_01.to_file(result_shapefile, driver='ESRI Shapefile')