In [97]:
import csv
import pandas as pd

In [98]:
loc_data = '/home/dipp/Github/Master-Thesis-dipp/Extracting_Locations_that_has_Value/Trimming_Further/test_data_v2.csv'
res_Data = '/home/dipp/Github/Master-Thesis-dipp/Extracting_Locations_that_has_Value/Trimming_Further/res_data_v2.csv'

cols = ['i','j','count']
res_dict = {}
No_of_rows_in_original = 0
No_of_rows_after_count = 0
No_of_None = 0

In [99]:
df = pd.read_csv(loc_data, sep='],', names=cols)
print("Done Here")
df = df.drop(index=0)
df = df.dropna()
#print("Now Enterted Here")
#new_df = pd.DataFrame(columns=cols)
#print("Now created new DF")
No_of_rows_in_original = len(df)
print("Calculations Done: No of Rows: ", No_of_rows_in_original)

Done Here
Calculations Done: No of Rows:  498

/tmp/ipykernel_8818/3293890190.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(loc_data, sep='],', names=cols)

In [100]:
print(df.dtypes)

i         object
j         object
count    float64
dtype: object

In [56]:
df['count'] = df['count'].astype('Int32')

In [91]:
df1 = df[df.isna().any(axis=1)]

In [92]:
df1

,i,j,count
421,"['US', 'United States', 'NY', 'New York', 'New...","['US', 'United States', 'ID', 'Idaho', Coeur d...",NaN

In [88]:

df['count'].isnull()

1      False
2      False
3      False
4      False
5      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: count, Length: 499, dtype: bool

In [86]:
df['count']

1          47.0
2       19579.0
3      126208.0
4           2.0
5       37724.0
         ...
495         4.0
496       163.0
497         4.0
498       115.0
499      7913.0
Name: count, Length: 499, dtype: float64

In [101]:
loc_reader = {}
loc_reader = df.to_dict('index')

print('############### DF TO DICT DONE #########################')
for index, line in loc_reader.items():
        
        #No_of_rows_in_original += 1
        a = (line['i'].replace('[','')).split()
        b = (line['j'].replace('[','')).split()
        #c = int(line['count'].replace(',',''))
        c = float(line['count'])
        #c = line['count'].replace(',','')
        temp_i = a[0].replace(',','')
        temp_j = b[0].replace(',','')
        temp_count = c

        temp_lookup_data = temp_i + '+' + temp_j
        temp_lookup = res_dict.get(temp_lookup_data)

        if(temp_lookup == None):
            res_dict[temp_lookup_data] = temp_count
        else:
            res_dict[temp_lookup_data] = temp_count + temp_lookup

############### DF TO DICT DONE #########################

In [102]:
res_dict

{"'CA'+'CA'": 161904.0,
 "'US'+'RU'": 19579.0,
 "'US'+'US'": 6169466.0,
 "'GB'+'MY'": 4777.0,
 "'IN'+'IN'": 3310821.0,
 "'KR'+'US'": 30442.0,
 "'BE'+'US'": 25.0,
 "'ES'+'ES'": 6339.0,
 "'AU'+'AU'": 69152.0,
 "'MX'+'MX'": 16836.0,
 "'BE'+'BE'": 42699.0,
 "'GB'+'MX'": 264.0,
 "'US'+'DE'": 315.0,
 "'IT'+'IT'": 9625.0,
 "'US'+'IT'": 2025.0,
 "'AR'+'AR'": 11706.0,
 "'US'+'PA'": 63.0,
 "'DE'+'DE'": 68377.0,
 "'GB'+'GB'": 1550918.0,
 "'US'+'HK'": 3377.0,
 "'US'+'TH'": 3789.0,
 "'US'+'CA'": 5112.0,
 "'PH'+'MY'": 253.0,
 "'CU'+'IN'": 4609.0,
 "'US'+'GB'": 17711.0,
 "'PH'+'PH'": 6461.0,
 "'US'+'MY'": 2028.0,
 "'JP'+'JP'": 736.0,
 "'VE'+'VE'": 42261.0,
 "'IN'+'US'": 215676.0,
 "'GB'+'US'": 90357.0,
 "'TR'+'TR'": 156252.0,
 "'GR'+'GR'": 1263.0,
 "'AG'+'AG'": 2081.0,
 "'US'+'CO'": 117.0,
 "'ZA'+'ZA'": 449632.0,
 "'MC'+'MC'": 5873.0,
 "'LB'+'GB'": 2.0,
 "'AU'+'PL'": 8.0,
 "'MX'+'CO'": 101.0,
 "'TH'+'TH'": 47227.0,
 "'PA'+'PA'": 47971.0,
 "'US'+'ZA'": 3398.0,
 "'KE'+'KE'": 158278.0,
 "'DE'+'TR'": 1021.0,
 "'CO'+'CO'": 1318832.0,
 "'US'+'AT'": 211.0,
 "'IN'+'SA'": 3634.0,
 "'SA'+'SA'": 25247.0,
 "'RU'+'CA'": 253.0,
 "'CU'+'CU'": 447865.0,
 "'ZA'+'DE'": 140.0,
 "'US'+'IN'": 75611.0,
 "'NL'+'NL'": 118.0,
 "'GB'+'FR'": 579.0,
 "'US'+'KE'": 11282.0,
 "'US'+'TR'": 5522.0,
 "'PK'+'PK'": 17588.0,
 "'US'+'AU'": 24391.0,
 "'TH'+'US'": 530.0,
 "'US'+'NG'": 2066.0,
 "'HK'+'US'": 10908.0,
 "'NG'+'US'": 61.0,
 "'GB'+'CO'": 3113.0,
 "'BE'+'GB'": 79.0,
 "'MY'+'MY'": 46513.0,
 "'US'+'JP'": 6810.0,
 "'GB'+'IT'": 87.0,
 "'NL'+'US'": 6.0,
 "'NZ'+'GB'": 115.0,
 "'GB'+'IN'": 20959.0,
 "'EG'+'IT'": 7.0,
 "'SE'+'US'": 5.0,
 "'IQ'+'IQ'": 9115.0,
 "'US'+'SA'": 101.0,
 "'SE'+'SE'": 1536.0,
 "'AU'+'US'": 12.0,
 "'IN'+'PK'": 1414.0,
 "'JP'+'US'": 633.0,
 "'CO'+'ES'": 85.0,
 "'HK'+'HK'": 249610.0,
 "'GB'+'JP'": 1764.0,
 "'US'+'CM'": 328.0,
 "'CL'+'CL'": 1011.0,
 "'AU'+'FR'": 1.0,
 "'US'+'SG'": 837.0,
 "'US'+'ZW'": 2404.0,
 "'CO'+'US'": 2430.0,
 "'DE'+'US'": 12.0,
 "'ID'+'ID'": 9194.0,
 "'ID'+'US'": 25.0,
 "'FR'+'NG'": 110.0,
 "'NZ'+'NZ'": 75.0,
 "'US'+'NO'": 4.0,
 "'IN'+'GB'": 31364.0,
 "'PG'+'PG'": 3062.0,
 "'NG'+'NG'": 276603.0,
 "'US'+'IL'": 1088.0,
 "'ZA'+'ZW'": 2.0,
 "'US'+'MX'": 898.0,
 "'MX'+'US'": 115.0}

In [43]:
print("################ LOCATION DICT MADE #####################")

file1 = open(res_Data, "a")  # append mode
file1.write('i,j,count'+'\n')
file1.close()

No_of_rows_after_count = 0

print("########## WRITING TO FILE ###########")
for a,b in res_dict.items():
    temp = a.split('+')
    source_i = temp[0]
    destination_j = temp[1]
    count = b
    file1 = open(res_Data, "a")
    file1.writelines(str(source_i) + ',' + str(destination_j) + ',' + str(count) + '\n')
    file1.flush()
    No_of_rows_after_count += 1

file1.close()
print("####### RESULTS WRITTEN TO FILE ###########")

################ LOCATION DICT MADE #####################
########## WRITING TO FILE ###########
####### RESULTS WRITTEN TO FILE ###########

In [ ]:
import csv
import pandas as pd

loc_data = '/home/dipp/Github/Master-Thesis-dipp/Extracting_Locations_that_has_Value/Trimming_Further/test_data_v2.csv'
res_Data = '/home/dipp/Github/Master-Thesis-dipp/Extracting_Locations_that_has_Value/Trimming_Further/res_data_v2.csv'

cols = ['i','j','count']
res_dict = {}
No_of_rows_in_original = 0
No_of_rows_after_count = 0
No_of_None = 0

print("############ START ################")


print("############ MAKING DataFrame #############")

#df = pd.read_csv(loc_data, sep='],', header=0, names=cols)

df = pd.read_csv(loc_data, sep='],', names=cols)
print("Done Here")
df = df.drop(index=0)
#print("Now Enterted Here")
#new_df = pd.DataFrame(columns=cols)
#print("Now created new DF")
No_of_rows_in_original = len(df)
print("Calculations Done: No of Rows: ", No_of_rows_in_original)


loc_reader = {}
loc_reader = df.to_dict('index')

print('############### DF TO DICT DONE #########################')
for index, line in loc_reader.items():
        
        #No_of_rows_in_original += 1
        a = (line['i'].replace('[','')).split()
        b = (line['j'].replace('[','')).split()
        #c = int(line['count'].replace(',',''))
        c = line['count']
        #c = line['count'].replace(',','')
        temp_i = a[0].replace(',','')
        temp_j = b[0].replace(',','')
        temp_count = c

        temp_lookup_data = temp_i + '+' + temp_j
        temp_lookup = res_dict.get(temp_lookup_data)

        if(temp_lookup == None):
            res_dict[temp_lookup_data] = int(temp_count)
        else:
            res_dict[temp_lookup_data] = int(temp_count) + int(temp_lookup)
        


print("################ LOCATION DICT MADE #####################")

file1 = open(res_Data, "a")  # append mode
file1.write('i,j,count'+'\n')
file1.close()

No_of_rows_after_count = 0

print("########## WRITING TO FILE ###########")
for a,b in res_dict.items():
    temp = a.split('+')
    source_i = temp[0]
    destination_j = temp[1]
    count = int(b)
    file1 = open(res_Data, "a")
    file1.writelines(str(source_i) + ',' + str(destination_j) + ',' + str(count) + '\n')
    file1.flush()
    No_of_rows_after_count += 1

file1.close()
print("####### RESULTS WRITTEN TO FILE ###########")

#new_df.to_csv(res_Data, encoding='utf-8', index=False)
#No_of_rows_after_count = len(new_df)
            

#print("######## Written to file ########")


print("No. of rows in the Original: ", No_of_rows_in_original)
print("No. of rows after count: ", No_of_rows_after_count)
#print("No. of None", No_of_None)

print("######## DONE ########")