In [130]:
import csv 
import pandas as pd

In [131]:
loc_data = '/home/dipp/Github/Master-Thesis-dipp/Extracting_Locations_that_has_Value/Trimming_Further/test_data_v2.csv'
res_Data = '/home/dipp/Github/Master-Thesis-dipp/Extracting_Locations_that_has_Value/Trimming_Further/res_data_v2.csv'

In [132]:
cols = ['i','j','count']
res_dict = {}
No_of_None = 0

In [133]:
df = pd.read_csv(loc_data, sep='],', header = 0, names=cols)
#df = df.drop(index=0)

/tmp/ipykernel_15045/2432560449.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(loc_data, sep='],', header = 0, names=cols)

In [134]:
df

,i,j,count
0,"['CA', 'Canada', 'ON', 'Ontario', None","['CA', 'Canada', 'QC', 'Québec', 'Québec'",47.0
1,"['US', 'United States', 'CA', 'California', 'E...","['RU', 'Russia', 'Sverdlovsk Oblast', 'Sverdlo...",19579.0
2,"['US', 'United States', 'CA', 'California', 'L...","['US', 'United States', 'CA', 'California', None",126208.0
3,"['US', 'United States', 'CT', 'Connecticut', '...","['US', 'United States', 'OH', 'Ohio', 'Columbus'",2.0
4,"['US', 'United States', 'OH', 'Ohio', None","['US', 'United States', 'OH', 'Ohio', None",37724.0
...,...,...,...
494,"['DE', 'Germany', 'Berlin', 'Berlin', 'Berlin'","['US', 'United States', 'TN', 'Tennessee', 'Ol...",4.0
495,"['US', 'United States', 'ME', 'Maine', 'Portland'","['US', 'United States', 'NH', 'New Hampshire',...",163.0
496,"['US', 'United States', 'AZ', 'Arizona', 'Pres...","['US', 'United States', 'SD', 'South Dakota', ...",4.0
497,"['MX', 'Mexico', 'B.C.', 'Baja California', 'M...","['US', 'United States', 'AR', 'Arkansas', 'Ben...",115.0
498,"['US', 'United States', 'NY', 'New York', 'New...","['US', 'United States', 'OH', 'Ohio', 'Dayton'",7913.0

In [141]:
test = {}
test = df.to_dict('index')

In [148]:
for index, line in test.items():
    print(line['count'])

47.0
19579.0
126208.0
2.0
37724.0
9436.0
4777.0
2784768.0
30442.0
7118.0
25.0
3142.0
2356.0
51624.0
2559.0
1071.0
208958.0
58564.0
1804.0
42699.0
100.0
264.0
140.0
84.0
597.0
2979.0
56411.0
36.0
63.0
66512.0
30.0
329107.0
45.0
32386.0
196077.0
21881.0
25602.0
2080.0
798.0
3377.0
202106.0
30025.0
721248.0
136.0
7.0
163.0
3789.0
2282.0
4957.0
253.0
4609.0
469.0
131.0
7224.0
6461.0
605.0
109614.0
21540.0
87770.0
18.0
1775.0
201.0
6718.0
161558.0
19.0
559.0
49091.0
34637.0
13397.0
75018.0
32.0
15941.0
20212.0
3539.0
546.0
2962.0
206.0
1499.0
3891.0
154451.0
3.0
1263.0
593.0
6182.0
796.0
631951.0
2081.0
117.0
1.0
1364.0
23333.0
1243.0
22.0
140658.0
222.0
14610.0
665.0
12566.0
1.0
107.0
9772.0
372.0
578.0
24144.0
5479.0
39.0
4128.0
292.0
5873.0
1854.0
1331.0
155.0
1357.0
2655.0
11482.0
1183.0
2.0
1583.0
8.0
117406.0
300082.0
58331.0
730.0
133754.0
615.0
101.0
9.0
4168.0
2.0
16155.0
371435.0
46958.0
23595.0
2541.0
118.0
7713.0
446.0
80.0
29365.0
1265.0
282.0
34600.0
3126.0
153613.0
9040.0
141409.0
47971.0
16.0
6.0
24821.0
65101.0
5327.0
5085.0
31072.0
81494.0
164.0
13549.0
52879.0
387.0
11063.0
102203.0
4210.0
39123.0
1021.0
21328.0
3578.0
24792.0
3095.0
426724.0
4478.0
10072.0
31.0
410.0
211.0
204549.0
2912.0
3.0
480.0
3.0
1362.0
2180.0
106.0
824.0
9.0
15832.0
401.0
3634.0
32.0
314152.0
25247.0
12951.0
16707.0
82.0
310444.0
354687.0
179.0
97970.0
253.0
15470.0
6464.0
308.0
35.0
447865.0
140.0
19.0
662.0
2600.0
67687.0
15183.0
2125.0
4228.0
19.0
118.0
32208.0
30766.0
19900.0
665.0
61595.0
1185.0
621.0
14477.0
11991.0
7576.0
376.0
4.0
7398.0
88657.0
1023.0
1647.0
56.0
4450.0
579.0
2375.0
249.0
15.0
11282.0
5522.0
11864.0
1801.0
52.0
207.0
16009.0
3418.0
7.0
635.0
142023.0
15066.0
6.0
44.0
858.0
44261.0
535.0
75.0
15571.0
1934.0
19.0
1.0
65.0
1628.0
492.0
66621.0
2168.0
30084.0
49097.0
4.0
23757.0
269192.0
1122.0
56709.0
9381.0
4437.0
216815.0
530.0
35286.0
170.0
9675.0
64500.0
8.0
2066.0
56.0
1088.0
56851.0
2850.0
20574.0
1.0
61.0
2.0
4111.0
12.0
5724.0
1477.0
4665.0
21.0
1794.0
936.0
254.0
3113.0
36758.0
109.0
24195.0
140.0
7609.0
79.0
113.0
5178.0
8.0
19121.0
919.0
60197.0
46513.0
1085.0
87.0
112267.0
18317.0
1880.0
105033.0
188.0
6.0
197.0
444.0
115.0
20959.0
649.0
1268.0
12344.0
9416.0
15768.0
7.0
71.0
83.0
626.0
5122.0
95163.0
24339.0
4403.0
10202.0
32746.0
5.0
40.0
371.0
9115.0
175.0
24.0
2506.0
75592.0
2933.0
90.0
8058.0
572854.0
620.0
4485.0
112461.0
927.0
101.0
11318.0
27.0
8.0
3.0
3234.0
4.0
27824.0
342.0
3658.0
1536.0
11073.0
3197.0
5090.0
12.0
470.0
31270.0
45710.0
757.0
989.0
840.0
4573.0
1414.0
5672.0
633.0
8358.0
1511.0
569.0
442.0
85.0
94.0
56.0
7624.0
738.0
123.0
5.0
3457.0
10696.0
2672.0
249610.0
8511.0
1764.0
1326.0
20.0
1688.0
1187.0
40.0
44.0
328.0
273.0
1.0
1011.0
37.0
13.0
4159.0
474.0
62.0
2881.0
25770.0
11.0
1.0
5.0
99.0
8727.0
6.0
217.0
837.0
nan
471.0
9062.0
7915.0
253.0
5.0
17685.0
25302.0
11.0
4.0
2404.0
258.0
108.0
2430.0
8.0
645.0
153.0
1288.0
57338.0
24.0
20039.0
1629.0
1209.0
45.0
2655.0
4327.0
5.0
2303.0
938.0
426.0
768.0
25.0
2211.0
826.0
110.0
5062.0
1237.0
56075.0
12.0
75.0
4.0
2744.0
31364.0
24390.0
9443.0
999.0
36.0
46.0
2423.0
3421.0
7.0
3062.0
982.0
276603.0
1088.0
7906.0
14.0
1062.0
242.0
62.0
2.0
15422.0
336.0
118.0
6438.0
555.0
6454.0
4732.0
13875.0
3018.0
73929.0
1.0
780.0
259.0
4.0
163.0
4.0
115.0
7913.0

In [126]:
new_df = pd.DataFrame(columns=cols)

In [127]:
for i in range(len(df)):
    a = df.iloc[i, 0]
    b = df.iloc[i,1]
    c = df.iloc[i,2]
    a_1 = a.replace('[', '').split()
    b_1 = b.replace('[', '').split()

    temp_list = []

    temp_i = a_1[0].replace(',','')
    temp_j = b_1[0].replace(',','')
    temp_count = c

    temp_list = [temp_i, temp_j, temp_count]

    new_df.loc[len(new_df)] = temp_list
    temp_list = []

In [128]:
new_df

        i     j     count
0    'CA'  'CA'      47.0
1    'US'  'RU'   19579.0
2    'US'  'US'  126208.0
3    'US'  'US'       2.0
4    'US'  'US'   37724.0
..    ...   ...       ...
494  'DE'  'US'       4.0
495  'US'  'US'     163.0
496  'US'  'US'       4.0
497  'MX'  'US'     115.0
498  'US'  'US'    7913.0

[499 rows x 3 columns]

In [129]:
new_df.to_csv(res_Data, encoding='utf-8', index=False)

In [46]:
with open(loc_data, newline='') as csvfile:
    loc_reader = csv.DictReader(csvfile, delimiter=']', fieldnames=cols)
    next(loc_reader, None)
    for line in loc_reader:
        a = (line['i'].replace('[','')).split()
        b = (line['j'].replace('[','')).split()
        c = int(line['count'].replace(',',''))
        temp_i = a[0].replace(',','')
        temp_j = b[0].replace(',','')
        temp_count = int(c)

        temp_lookup_data = temp_i + '+' + temp_j
        temp_lookup = res_dict.get(temp_lookup_data)

        if(temp_lookup == None):
            res_dict[temp_lookup_data] = int(temp_count)
        else:
            res_dict[temp_lookup_data] = int(temp_count) + int(temp_lookup)
            

        

        
        
        #print(temp_i)

In [47]:
file1 = open(res_Data, "a")  # append mode
file1.write('i,j,count'+'\n')
file1.close()

In [48]:
for a,b in res_dict.items():
    temp = a.split('+')
    source_i = temp[0]
    destination_j = temp[1]
    count = int(b)
    file1 = open(res_Data, "a")
    file1.writelines(str(source_i) + ',' + str(destination_j) + ',' + str(count) + '\n')
    file1.flush()

file1.close()

In [ ]:
import csv
import sys

csv.field_size_limit(sys.maxsize)

loc_data = '/home/dipp/Github/Master-Thesis-dipp/Extracting_Locations_that_has_Value/Trimming_Further/test_data_v2.csv'
res_Data = '/home/dipp/Github/Master-Thesis-dipp/Extracting_Locations_that_has_Value/Trimming_Further/res_data_v2.csv'

cols = ['i','j','count']
res_dict = {}
No_of_None = 0

print("############ START ################")


print("############ MAKING LOCATION DICT #############")

with open(loc_data, newline='', encoding='utf-8') as fd:
    base_location_data = csv.DictReader(fd, delimiter=']', fieldnames=cols)
    next(base_location_data,None)
    
    for line in base_location_data:
        try:
            
                
            a = line['i'].split()
            b = line['j'].split()
            if(a != None and b != None):
                c = a[0].replace('[','')
                d = b[0].replace(',[','')

                source_country = c.replace(',','')
                dest_country = d.replace(',','')
                count = float(line['count'].replace(',',''))
                        
                temp_data = source_country+','+dest_country
                            

                d = res_dict.get(temp_data)
                        
                if(d == None):
                    res_dict[temp_data] = int(count)
                else:
                    res_dict[temp_data] = int(count) + int(d)
            
           
    
        except:
            No_of_None += 1
            continue


print("################ LOCATION DICT MADE #####################")

file1 = open(res_Data, "a")  # append mode
file1.write('i,j,count'+'\n')
file1.close()

No_of_columns = 0

print("########## WRITING TO FILE ###########")
file1 = open(res_Data, "a")
for a,b in res_dict.items():
    No_of_columns += 1
    c = a.split(',')
    file1.writelines(str(c[0]) + ',' + str(c[1]) + ',' + str(b) + '\n')
    file1.flush()

file1.close()
print("####### RESULTS WRITTEN TO FILE ###########")

print("No. of Columns: ", No_of_columns)
print("No. of None", No_of_None)

print("######## DONE ########")